@model UsuarioViewModel

    <div class="authentication-bg min-vh-100">
        <div class="bg-overlay bg-light"></div>
        <div class="container">
            <div class="d-flex flex-column min-vh-100">
                <div class="row justify-content-center my-auto">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card mt-5">
                            <div class="card-body">
                                <div class="p-3">
                                    <div class="mb-3 text-center mb-md-4">
                                        <a href="index.html" class="d-block auth-logo">
                                            <img src="~/assets/images/logo-dark.png" alt="" height="22"
                                                 class="auth-logo-dark">
                                            <img src="~/assets/images/logo-light.png" alt="" height="22"
                                                 class="auth-logo-light">
                                        </a>
                                    </div>
                                    <div class="mb-4 text-center">
                                        <h5 class="mb-1">Register Account</h5>
                                        <p class="text-muted">Get your free Probic account now.</p>
                                    </div>
                                    <form class="form-horizontal mt-3" asp-controller="Account" asp-action="Register" method="post">
                                    
                                        <div class="text-danger" asp-validation-summary="All"></div>

                                        <div class="mb-3">
                                            <label class="form-label" asp-for="Username">Usuario</label>
                                            <input type="text" asp-for="Username" class="form-control" id="UsuarioID"
                                               placeholder="Usuario">
                                            <span asp-validation-for="Username" class="text-danger"></span>
                                        </div>

                                        <div class="mb-3">
                                        <label class="form-label" asp-for="CPF">CPF</label>
                                        <input type="text" asp-for="CPF" class="form-control" id="CPFID"
                                               placeholder="CPF">
                                        <span asp-validation-for="CPF" class="text-danger"></span>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label" asp-for="Email">Email</label>
                                        <input type="text" asp-for="Email" class="form-control" id="emailID"
                                                   placeholder="Email">
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>                                        

                                        <div class="form-password mb-3 auth-pass-inputgroup">
                                            <label class="form-label" asp-for="Password">Senha</label>
                                            <div class="position-relative">
                                                <input type="password" class="form-control" asp-for="Password" id="password-input" placeholder="Senha">
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                                <button type="button" class="btn btn-link position-absolute h-100 end-0 top-0 shadow-none" id="password-addon">
                                                    <i class="mdi mdi-eye-outline font-size-16 text-muted"></i>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-12">
                                                <div class="form-checkbox d-flex">
                                                    <input type="checkbox" class="form-check-input me-1"
                                                           id="customControlInline">
                                                    <label class="form-label text-muted font-size-13"
                                                           for="customControlInline">
                                                    Ao se registrar você concorda com os
                                                        <span class="text-primary">Termos de uso</span>
                                                    </label>
                                                </div>
                                            </div><!-- end col -->
                                        </div><!-- end row -->

                                        <div class="row justify-content-center">
                                            <div class="col-sm-4 text-center">
                                                <button class="btn btn-primary w-100 rounded-pill"
                                                        type="submit">
                                                    Cadastrar
                                                </button>
                                            </div>
                                        </div><!-- end row -->
                                    </form><!-- end -->
                                    <div class="row position-relative mt-2">
                                        <div class="col-12">
                                            <div class="or-circle">
                                                <a href="javascript: void(0);"
                                                   class="social-list-item fw-bold font-size-12">
                                                    OR
                                                </a>
                                            </div>
                                        </div><!-- end col -->
                                    </div><!-- end row -->
                                </div>
                            </div><!-- end card-body -->
                            <div class="card-footer auth-footer text-center pt-4">
                                <h6 class="text-white mt-3 fw-normal">Sign up with social platforms</h6>
                                <ul class="list-inline mt-4">
                                    <li class="list-inline-item">
                                        <a href="javascript: void(0);" class="social-list-item">
                                            <i class="mdi mdi-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript: void(0);" class="social-list-item">
                                            <i class="mdi mdi-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript: void(0);" class="social-list-item">
                                            <i class="mdi mdi-google"></i>
                                        </a>
                                    </li>
                                </ul><!-- end ul -->
                            </div><!-- end card footer -->
                        </div><!-- end card -->
                        <div class="mt-3 text-center text-muted">
                            <p class="mb-0">
                                Ja possui uma conta ? @await Html.PartialAsync("_LoginPartial")
                            </p>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->

                <div class="row">
                    <div class="col-xl-12">
                        <div class="text-center text-muted p-4">
                        <p class="mb-0">
                            ©
                            <script>document.write(new Date().getFullYear())</script> Ecoporto Santos <i class="mdi mdi-heart text-danger"></i> by Wallace Camargo
                        </p>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->

            </div>
        </div><!-- end container -->
    </div>
    <!-- end authentication section -->
<style>
    header {
        display: none;
    }
</style>